* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Navigation bar styles */
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  .nav{
    height: 100px;
    position: fixed;
    width:100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 39px 50px;
    text-decoration: none;
  }
  
  .navbar a:hover {
  
    color: rgb(238, 192, 6);
  }
  
  /* Logo styles */
  .logo {
    float: left;
    padding: 0px;

  }
  .logo img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
  }
  
  /* Search bar styles */
  .search-container {
    float: right;
    padding: 10px;
  }
  
  .search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  /* Responsive navigation */
  @media screen and (max-width: 600px) {
    .navbar a, .logo, .search-container {
      float: none;
      display: block;
      text-align: center;
    }
    
    .search-container {
      float: none;
    }
    
    .search-container input[type=text] {
      width: 100%;
      margin-bottom: 10px;
    }
  }


  /* =================Section start================== */

  .head-section{
    height: 750px;
    background-color: rgb(77, 31, 31);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .head-block{
    height: 65%;
    width: 40%;
    border: 2px solid rgb(55, 0, 255);

  }
  .top-heading{
    height: 30%;
    width: 80%;
    margin: 30px;
    line-height: 40px;
    border: 2px solid yellow;
    font-size: 40px;
    text-align:center;
  }
  .shop{
    height: 60px;
    width: 200px;
    background-color: blueviolet;
    font-weight: bold;
    border-radius: 20px;
    margin-left: 160px;

  }
  .img-block{
    height: 70%;
    width: 30%;
    position: absolute;
    border: pink;
  }